@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-gray: rgb(175, 175, 175);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background: #282a36;
}

.page-home-links {
    text-align: center;
    padding: 16px 0;
}

.page-home-links a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin: 0 16px;
    text-decoration: none;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border: 5px solid yellow;
    border-radius: 50%;
    margin-bottom: 32px;
    height: 400px;
}

#wrapper h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    color: whitesmoke;
    margin-bottom: 8px;
}

#wrapper h2{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    color: var(--color-gray);
}